@import url("../font/bootstrap-icons.css");
@import 'custom';

html{    
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 280px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;    
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.plat1{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('../images/plat1.jpg');
        background-size: cover;
        filter: brightness(30%);
    }

    *{
        //positionner les éléments devant le ::before
        position:relative;
    }

    .plat1-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    } 
}

.plat4{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('../images/plat4.jpg');
        background-size: cover;
        filter: brightness(30%);
    }

    *{
        //positionner les éléments devant le ::before
        position:relative;
    }

    .plat4-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;    
    } 
}

.text-justify{
        text-align: justify;
    }

.image-card{
    position: relative;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }  
        img{
            filter: brightness(0.3);
        }      
    }
    img{
        transition: all 0.5s;

    }

    .titre-image{        
        opacity: 0;
        position: absolute;          
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        transition: all 0.5s;
    }

    .action-image-buttons{ 
        opacity: 0;         
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;    
        padding: 5px;
        padding-top: 30px;
        padding-right: 6px;
        display: flex;
        justify-content: space-between;
        transition: all 0.5s;
}
    }

.carte{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('../images/boissons.jpg');
        background-size: cover;
        filter: brightness(30%);
    }

    *{
        //positionner les éléments devant le ::before
        position:relative;
    }

    .carte-content{
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    } 

    .form-label{
        color: $primary;
    }
}
