@import url("../font/bootstrap-icons.css");
@import 'custom';

html{    
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 219px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.plat1{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('../images/plat1.jpg');
        background-size: cover;
        filter: brightness(30%);
    }

    *{
        //positionner les éléments devant le ::before
        position:relative;
    }

    .plat1-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    } 
}

.text-justify{
        text-align: justify;
    }
